In [2]:
# 1.Print numbers from 1 to 5 using a while loop.

i = 1
while i <= 5:
    print(i,end=" ")
    i+=1

1 2 3 4 5

In [3]:
# 2.Calculate the sum of numbers from 1 to 10 using a while loop.

i = 1
s = 0
while i<=10:
    s+=i
    i+=1
print(s)

55

In [4]:
# 3.Calculate the factorial of a number using a for loop.

n = 5
f=1
for i in range(1,n+1):
    f = f*i
print(f)

120

In [4]:
# 4.Count the number of vowels in a string using a for loop.

s = 'Australia'
c = 0
for i in s :
    if(i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U' or
       i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
            c +=1
print(c)

5

In [12]:
# 5.Print a pattern using nested loops.

for i in range(4,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [19]:
# 6. Generate a multiplication table using nested loops.

n = 4
for i in range(1,11):
    print(n ," x ", i ,"\t=" ,n*i)

4  x  1 	= 4
4  x  2 	= 8
4  x  3 	= 12
4  x  4 	= 16
4  x  5 	= 20
4  x  6 	= 24
4  x  7 	= 28
4  x  8 	= 32
4  x  9 	= 36
4  x  10 	= 40